RewriteEngine on
Redirect 301 https://illegal-services.github.io/Illegal_Services/ https://illegal-services.github.io/Illegal_Services/index.html
Redirect 301 https://illegal-services.github.io/Illegal_Services https://illegal-services.github.io/Illegal_Services/index.html
Redirect 301 https://illegal-services.github.io/ https://illegal-services.github.io/Illegal_Services/index.html
Redirect 301 https://illegal-services.github.io https://illegal-services.github.io/Illegal_Services/index.html
